/* Center the text within the toolbar */
.center-text {
  flex: 1; /* Expand to fill the available space, center-aligning the text */
  text-align: center;
}

/* Create a spacer to push the logout button to the right */
.header-spacer {
  flex: 1; /* Expand to fill the available space, pushing the button to the right */
}

/* Style the header toolbar */
.header-toolbar {
  display: flex; /* Make the toolbar a flex container */
  justify-content: center; /* Center-align the text horizontally */
  align-items: center; /* Center-align the text vertically */
}
