<mat-toolbar color="primary" class="header-toolbar">
  <span class="center-text">Who Wants to Be a Millionaire?</span>
  <span class="header-spacer"></span>
  <button mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-toolbar>
