<div class="center-spinner" *ngIf="isLoading; else stepperSection">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<ng-template #stepperSection>
  <mat-horizontal-stepper class="centered-stepper" [linear]="isLinear" #stepper
                          (selectionChange)="onStepSelectionChange($event)">
    <mat-step *ngFor="let question of selectedQuestions; let i = index" [stepControl]="questionForm"
              [editable]="false">
      <ng-template matStepLabel>{{ 'Question ' + (i + 1) }}</ng-template>
      <form [formGroup]="questionForm" (ngSubmit)="submitAnswer(i)">
        <h2 class="question">{{ question.question }}</h2>
        <mat-radio-group formControlName="selectedAnswer">
          <mat-radio-button *ngFor="let choice of question.choices;" [value]="choice" color="primary">
            {{ choice }}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button color="primary" type="submit"
                  [disabled]="!questionForm.get('selectedAnswer')?.value">Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Results</ng-template>
      <div>
        <h3>Your Correct Answers Score: {{ totalCorrectPoints }}</h3>
        <h3>Total Score: {{ calculateTotalPoints() }}</h3>
      </div>
      <div class="scrollable-container">
        <mat-card *ngFor="let question of selectedQuestions"
                  [class.correct-card]="userResponses[question.id]?.status"
                  [class.incorrect-card]="!userResponses[question.id]?.status">
          <mat-card-content>
            <p>Question: {{ question.question }}</p>
            <p>User Answer: {{ userResponses[question.id]?.answer }}</p>
            <p>Status: {{ userResponses[question.id]?.status ? 'Correct' : 'Incorrect' }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</ng-template>

<app-score-history [scoreHistory]="scoreHistory"></app-score-history>
