.correct-snackbar {
  background-color: green;
}

.correct {
  color: green;
}

.incorrect {
  color: #ea2c4c;
}

.correct-card {
  background-color: #00800091;
  color: white;
  margin: 10px;
}

.incorrect-card {
  background-color: #ff4f4f;
  color: white;
  margin: 10px;
}

.scrollable-container {
  max-height: 300px;
  overflow-y: auto;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.centered-stepper {
  text-align: center;
  margin: 20px;
  padding: 20px;
  height: 60vh;
}

.question {
  font-weight: bold;
  margin: 100px auto 50px auto;
}

button {
  margin-top: 100px;
}

mat-radio-button {
  margin: 30px;
}
