<main>
  <form [formGroup]="form">
    <h1>Register your account</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex: hamiiddoostii@gmail.com" formControlName="email">
      <mat-error *ngIf="form.get('email')!.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')!.hasError('email')">
        Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="form.get('password')!.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="form.get('password')!.hasError('minlength')">
        Password must have at least 6 numbers
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
      <mat-error *ngIf="form.get('confirmPassword')!.hasError('required')">
        Confirm Password is required
      </mat-error>
      <mat-error *ngIf="form.get('confirmPassword')!.hasError('minlength')">
        Password must have at least 6 numbers
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="register()"
            *ngIf="!isRegister" test-id="login-button">
      SIGN UP
    </button>
    <button mat-raised-button color="primary" class="button-loader" *ngIf="isRegister"
            test-id="login-loader">
      <mat-spinner color="accent" diameter="20"></mat-spinner>
    </button>
  </form>
</main>
