main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px
;
  button,
  mat-form-field {
    margin-bottom: 20px;
    width: 100%;
  }

  button {
    margin: 5px 0;
  }
}

.button-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}
