<div class="mat-elevation-z2 table-main">
  <table mat-table [dataSource]="scoreHistory">
    <ng-container matColumnDef="dateAndTime">
      <th mat-header-cell *matHeaderCellDef>Date & Time</th>
      <td mat-cell *matCellDef="let element">{{ element.currentTime }}</td>
    </ng-container>

    <ng-container matColumnDef="scoreHistory">
      <th mat-header-cell *matHeaderCellDef>Score</th>
      <td mat-cell *matCellDef="let element">{{ element.score }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
